version: "3"
services:
  database:
    image: postgres:14-alpine
    container_name: database_postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=api_dev
    networks:
      - api
    ports:
      - 55432:5432
    volumes:
      - api-dev-db-data:/var/lib/postgresql/data
  proxy:
    image: nginx
    container_name: proxy_nginx
    volumes:
      - .:/code
      - ./etc/hosts:/etc/hosts
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/nginx/cache/:/etc/nginx/cache
      - ./etc/nginx/ssl/dhparam.pem:/etc/nginx/ssl/dhparam.pem
      - ./etc/nginx/certs/:/etc/nginx/certs/
      - /var/www/letsencrypt/:/var/www/letsencrypt/
      - /var/log/:/var/log/
    command: [ nginx-debug, '-g', 'daemon off;' ]
    networks:
      - api
    ports:
      - 80:80
      - 443:443
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
  project:
    container_name: project_phoenix_liveview_skeleton
    build: .
    networks:
      - api
    ports:
      - "4000:4000"
      - "4001:4001"
networks:
  api:
volumes:
  api-dev-db-data:
