version: "3"
services:
  database:
    image: postgres:14-alpine
    container_name: database_postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=phoenix_liveview_skeleton
    networks:
      - phoenix_liveview_skeleton
    ports:
      - 55432:5432
    volumes:
      - phoenix_liveview_skeleton-db-data:/var/lib/postgresql/data
  proxy:
    image: nginx
    container_name: proxy_nginx
    volumes:
      - .:/code
      - ./etc/hosts:/etc/hosts
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/nginx/cache/:/etc/nginx/cache
      - ./etc/nginx/ssl/dhparam.pem:/etc/nginx/ssl/dhparam.pem
      - ./etc/nginx/certs/:/etc/nginx/certs/
      - /var/www/letsencrypt/:/var/www/letsencrypt/
      - /var/log/:/var/log/
    command: [ nginx-debug, '-g', 'daemon off;' ]
    networks:
      - phoenix_liveview_skeleton
    ports:
      - 80:80
      - 443:443
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
  release:
    container_name: release_phoenix_liveview_skeleton
    build: .
    networks:
      - phoenix_liveview_skeleton
    ports:
      - "4444:4444"
    environment:
      - SECRET_KEY_BASE="salt goes here"
      - DATABASE_URL="ecto://postgres:postgres@localhost/phoenix_liveview_skeleton"
      - PHOENIX_HOSTNAME="localhost"
      - PORT=4444
networks:
  phoenix_liveview_skeleton:
volumes:
  phoenix_liveview_skeleton-db-data:
