version: "3"
services:
  database:
    image: postgres:14-alpine
    container_name: database_postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=api_dev
    networks:
      - api
    ports:
      - 55432:5432
    volumes:
      - api-dev-db-data:/var/lib/postgresql/data
  web:
    image: nginx
    container_name: webserver_nginx
    volumes:
      - ./etc/hosts:/etc/hosts
      - ./etc/nginx/sites-enabled/:/etc/nginx/sites-enabled/
      - ./etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/nginx/cache/:/etc/nginx/cache
      - ./nginx/ssl/dhparam.pem:/etc/nginx/ssl/dhparam.pem
      - ./nginx/certs/:/etc/nginx/certs/
      - /var/www/letsencrypt/:/var/www/letsencrypt/
      - /var/log/:/var/log/
   # command: /bin/bash -c "envsubst '$${SITE_DOMAIN}'< /etc/nginx/sites-enabled/backend.template > /etc/nginx/sites-enabled/backend.conf && exec nginx -g 'daemon off;'"
    command: [ nginx-debug, '-g', 'daemon off;' ]
    ports:
      - 80:80
      - 443:443
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
networks:
  api:
volumes:
  api-dev-db-data:
