<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no"">
    <meta name="author" content="@mithereal">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <meta name="robots" content="noindex, nofollow">
    <meta name="application-name" content="">
    <meta name="msapplication-starturl" content="http://www.xxx.com/">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content=""/>
    <meta property="og:url" content="https://xxx.com/"/>
    <meta property="og:image" content="https://xxx.com/images/api_richSnippet.png"/>
    <meta property="og:description" content=""/>
    <meta property="og:locale" content="en_US"/>

     <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "App", suffix: " · Phoenix Framework" %>

     <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/font-awesome/all.css") %>"/>
     <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/admin.css") %>"/>
     <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/chart.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/admin.js") %>"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/chart.js") %>"></script>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/chart_bundle.js") %>"></script>



    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>/"/>


       <script type="text/javascript">
        document.documentElement.classList.remove("no-js");
    </script>

<script phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/modernizr_webp.js") %>"></script>

  </head>

<body>
<nav class="bg-gray-800 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0">

        <div class="flex flex-wrap items-center">
            <div class="flex flex-shrink md:w-1/3 justify-center md:justify-start text-white">
                <a href="#">
                    <span class="text-xl pl-2"><i class="em "></i></span>
                </a>
            </div>

            <div class="flex flex-1 md:w-1/3 justify-center md:justify-start text-white px-2">

            </div>

            <div class="flex w-full pt-2 content-center justify-between md:w-1/3 md:justify-end">
                <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                    <li class="flex-1 md:flex-none md:mr-3">
                        <a class="inline-block py-2 px-4 text-white no-underline" href="#">Active</a>
                    </li>
                    <li class="flex-1 md:flex-none md:mr-3">
                        <a class="inline-block text-gray-600 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="#">Home</a>
                    </li>
                    <li class="flex-1 md:flex-none md:mr-3" onclick="toggle_user_menu('user_menu')">
                        <div class="relative inline-block">
                            <button  class="drop-button text-white focus:outline-none"> <span class="pr-2 m-1 mr-2 w-12 h-12 relative flex justify-center items-center rounded-full bg-blue-500 text-xl text-white uppercase"><i class="fa fa-user"></i></span>
                            <svg class="h-3 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg></button>
                            <div id="user_menu" class="dropdownlist absolute bg-gray-800 text-white right-0 mt-3 p-3 overflow-auto z-30 invisible">
                                <input type="text" class="drop-search p-2 text-gray-600" placeholder="Search.." id="user_search" onkeyup="filter_user_menu('user_menu','user_search')">
                                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i class="fa fa-user fa-fw"></i> Profile</a>
                                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i class="fa fa-cog fa-fw"></i> Settings</a>
                                <div class="border border-gray-800"></div>
                                <a href="#" class="p-2 hover:bg-gray-800 text-white text-sm no-underline hover:no-underline block"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

<div class="flex flex-col md:flex-row content">

        <div class="bg-gray-800 shadow-xl h-16 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48">

            <div class="md:mt-12 md:w-48 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
                <%= render "_admin_menu.html", assigns %>
            </div>


        </div>
<main role="main" class="container">
        <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

          <%= @inner_content %>

    </div>
    </main>
    </nav>

</body>
</html>