<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no"/>
    <meta name="author" content="@mithereal"/>
    <meta name="description" content="description here"/>
    <meta name="keywords" content="keywords,here"/>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="application-name" content="" />
    <meta name="msapplication-starturl" content="http://www.xxx.com/" />
    <meta name="theme-color" content="#4285f4"/>

    <meta property="og:type" content="website"/>
    <meta property="og:title" content=""/>
    <meta property="og:url" content="https://xxx.com/"/>
    <meta property="og:image" content="https://xxx.com/images/api_richSnippet.png"/>
    <meta property="og:description" content=""/>
    <meta property="og:locale" content="en_US"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "App", suffix: " · Phoenix Framework" %>

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/font-awesome/all.css") %>"/>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/admin.css") %>"/>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/chart.css") %>"/>

    <script defer phx-track-static type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/admin.js") %>"></script>
    <script defer phx-track-static type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/chart.js") %>"></script>
    <script defer phx-track-static type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/chart_bundle.js") %>"></script>

    <%= render "_dark_mode.js.html" %>

    <%= render "_apple_touch_header.html", assigns %>

    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>/"/>

    <script type="text/javascript">
        document.documentElement.classList.remove("no-js");
    </script>

    <script phx-track-static type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/modernizr_webp.js") %>"></script>

</head>

<body class="body_background font-sans leading-normal tracking-normal">

<nav id="header" class="nav_background nav-header fixed w-full z-10 top-0 shadow">

    <div class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0">

        <div class="w-1/2 pl-2 md:pl-0">
            <a class="text-gray-100 text-base xl:text-xl no-underline hover:no-underline font-bold" href="#">
                <i class="mode_logo text-blue-400 pr-3"></i> Admin
            </a>
        </div>

        <div class="w-1/2 pr-0">
            <div class="flex relative inline-block float-right">

                <div class="user_menu_container">
                    <button id="userButton" class="flex items-center focus:outline-none mr-3">
                        <%= if @current_user do %>
                        <img class="w-8 h-8 rounded-full mr-4"
                             src="<%= Exgravatar.gravatar_url( @current_user.email ) %>" alt="Avatar of User"> <span
                            class="hidden md:inline-block text-gray-100"><%= @current_user.email %></span>

                        <% end %>
                        <svg class="svg_avatar pl-2 h-2 fill-current text-gray-900" version="1.1"
                             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                             xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                            <g>
                                <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                            </g>
                        </svg>
                    </button>
                        <%= render "_admin_menu.html", assigns %>
                </div>


                <div class="block lg:hidden pr-4">
                    <button id="nav-toggle"
                            class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-100 hover:border-teal-500 appearance-none focus:outline-none">
                        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>
                            Menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                        </svg>
                    </button>
                </div>
            </div>

        </div>


        <div class="nav_background nav_content w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 z-20"
             id="nav-content">
            <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
                <li class="mr-6 my-2 md:my-0">
                    <a href="/admin"
                       class="admin_menu_link block py-1 md:py-3 pl-1 align-middle  no-underline border-b-2">
                        <i class="home_logo fas fa-home fa-fw mr-3"></i><span
                            class="pb-1 md:pb-0 text-sm">Home</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="/admin/accounts/online"
                       class="admin_menu_link block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-pink-400">
                        <i class="fas fa-user fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Online Users</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="/admin/accounts"
                       class="admin_menu_link block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-purple-400">
                        <i class="fa fa-user-slash fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Offline Users</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="/admin/analytics"
                       class="admin_menu_link block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-green-400">
                        <i class="fas fa-fire fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Flames</span>
                    </a>
                </li>
                <li class="mr-6 my-2 md:my-0">
                    <a href="#"
                       class="admin_menu_link block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900  hover:border-red-400">
                        <i class="fa fa-wallet fa-fw mr-3"></i><span class="pb-1 md:pb-0 text-sm">Payments</span>
                    </a>
                </li>
            </ul>
            <div class="relative pull-right pl-4 pr-4 md:pr-0">
                <input type="search" placeholder="Search"
                       class="search w-full bg-gray-300 text-sm text-gray-400 transition border border-gray-800 focus:outline-none focus:border-gray-600 rounded py-1 px-2 pl-10 appearance-none leading-normal">
                <div class="absolute search-icon" style="top: 0.375rem;left: 1.75rem;">
                    <svg class="search_svg fill-current pointer-events-none text-gray-500 w-4 h-4"
                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                    </svg>
                </div>
            </div>

        </div>

        <div class="relative pull-right pl-4 pr-4 md:pr-0">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>

    </div>
</nav>

	<div class="container w-full mx-auto pt-20">


    <%= @inner_content %>


</div>
<!--/container-->

<footer class="footer border-t border-gray-400 shadow">
    <div class="container max-w-md mx-auto flex py-8">

        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full md:w-1/2 ">
                <div class="px-8">
                    <h3 class="footer_link_header font-bold font-bold">About</h3>
                    <p class="py-4 text-gray-600 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vel mi ut felis tempus commodo
                        nec id erat. Suspendisse consectetur dapibus velit ut lacinia.
                    </p>
                </div>
            </div>

            <div class="flex w-full md:w-1/2">
                <div class="px-8">
                    <h3 class="font-bold font-bold footer_link_header">Social</h3>
                    <ul class="list-reset items-center text-sm pt-3">
                        <li>
                            <a class="inline-block footer_link_header no-underline hover:text-gray-100 hover:text-underline py-1"
                               href="#">Add social link</a>
                        </li>
                        <li>
                            <a class="inline-block footer_link_header no-underline hover:text-gray-100 hover:text-underline py-1"
                               href="#">Add social link</a>
                        </li>
                        <li>
                            <a class="inline-block footer_link_header no-underline hover:text-gray-100 hover:text-underline py-1"
                               href="#">Add social link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</footer>

<script>


    /*Toggle dropdown list*/
    /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

    var userMenuDiv = document.getElementById("userMenu");
    var userMenu = document.getElementById("userButton");

    var navMenuDiv = document.getElementById("nav-content");
    var navMenu = document.getElementById("nav-toggle");

    document.onclick = check;

    function check(e) {
        var target = (e && e.target) || (event && event.srcElement);

        //User Menu
        if (!checkParent(target, userMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, userMenu)) {
                // click on the link
                if (userMenuDiv.classList.contains("invisible")) {
                    userMenuDiv.classList.remove("invisible");
                } else {
                    userMenuDiv.classList.add("invisible");
                }
            } else {
                // click both outside link and outside menu, hide menu
                userMenuDiv.classList.add("invisible");
            }
        }

        //Nav Menu
        if (!checkParent(target, navMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, navMenu)) {
                // click on the link
                if (navMenuDiv.classList.contains("hidden")) {
                    navMenuDiv.classList.remove("hidden");
                } else {
                    navMenuDiv.classList.add("hidden");
                }
            } else {
                // click both outside link and outside menu, hide menu
                navMenuDiv.classList.add("hidden");
            }
        }

    }

    function checkParent(t, elm) {
        while (t.parentNode) {
            if (t == elm) {
                return true;
            }
            t = t.parentNode;
        }
        return false;
    }


</script>

</body>
</html>